// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: OpenSans; 
    src: url(font_path('OpenSans-Regular.ttf')); 
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OpenSans; 
    src: url(font_path('OpenSans-Semibold.ttf')); 
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: OpenSans; 
    src: url(font_path('OpenSans-Light.ttf')); 
    font-style: normal;
    font-weight: lighter;
}



*{
margin:0px;
padding:0px;
}

#header {
    color:white;
	height:80px;
    text-align:center;
    font-family: OpenSans; 
    background-color:#3AAFDA;
}
#header h1 {
    margin:auto;
    line-height:70px;
    vertical-align:middle;
}
#add_todo {
    color:white;
	margin-right: 30px;
    float:right;
    background-color:#3AAFDA;
    vertical-align:middle;
}
#content{
    margin:10px 40px 0px 40px;
}
.pblock {
    display:inline-block;
    margin:auto;
    margin-top: 30px;
    width: 100%;
    vertical-align: top;
    -webkit-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.65);
    box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.65);

}
.pblock h2{
    font-size: 1em;
    font-family: OpenSans;
    font-weight: bold;
     border-bottom: 1px solid #eeeeee;
     padding-left: 23px;
     line-height: 3em;

}
.pblock li{
list-style-type: none;
margin:25px;

}
.pblock p{
    display:inline-block;
    margin-left: 20px;
}
#mask2{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;  
    background-color: rgba(0,0,0,0.6)
}
#MainForm{

     vertical-align: middle;
     background-color: white;
     width: 400px;
     height: 210px;
       left: 50%; top: 50%;
     -webkit-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.65);
box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.65);
}
#MainForm h2{
     border-bottom: 1px solid #eeeeee;
     text-align: center;
     font-family: OpenSans;
     font-weight: bold;
     font-size: 1em;
     line-height: 3em;

}
#form{
    padding-left: 10px;
     margin: 10px auto;
     width: 100%;
     height: 40px;
     -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 1px;

border: 1px solid #aaaaaa;
}


#hide_todo{
    float: left;
    margin-top: 10px;
    line-height:40px;
    text-align: center;
    width: 175px;
    height: 40px;
    background-color: #9F9F9F;
    color: white;
}
#submt_lnk{
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height:40px;
    margin-top:10px;
    width: 175px;
    height: 40px;
    background-color: #3AAFDA;
    color: white;
}
.select2-selection, .select2-selection__rendered, .select2-selection__arrow {
       height: 40px !important;
       width: 100%;
       span {
           line-height: 40px !important;
            text-align: left;
      }

}

.select2-selection {
    border-radius: 0 !important;
}

#dummy{
     width: 370px;
    margin: auto;
}

#slct{
    width: 370px;

}